
body{
  margin: 0;
  padding: 0;
}
/* comman css */
a{
    font-family: 'Dancing Script', cursive;
    font-family: 'Dosis', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    font-weight: 300;

}

h1,h6,h4,h5,p{
    font-family: 'Dancing Script', cursive;
    font-family: 'Dosis', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.img-responsive{
    vertical-align: middle;
    height: 58px;
    border-radius: 26px; 
}
.img-responsive:hover{
    background-color: skyblue;
}
.logout{
    margin-right: 15px;
}
.navbar{
    background-color:#fff;
}
/* home page */
.mainDiv{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/dashboard.jpg);
}
.mainDiv,.orderSectionDiv{
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover; 
}
.navbar-toggler{
    background-color: tomato;
}
.heading,#paraDashboard,#shopHeading{
    margin-top: 36vh;
    text-align: center;
    color:#fff;  
}
#paraDashboard{
    margin-top: 0;
}
/* header Css */
ul li a:hover{
    background-color: rgb(172, 238, 171); 
  }
  ul a:hover{
    background-color: rgb(172, 238, 171);
  }

.userEmail{
    margin-right: 5vh;    
}
.nav-link{
    font-style: italic;
    font-weight: bold;
}
/* order form  css */
.orderForm{
    margin: 100px 35px 0px 44px;
}
.container1{
height: 71vh;
display: flex;
justify-content: center;
margin-top: 20vh;
}

#counterValue,#incrementBtn,#dicrementBtn{
    border: 1px solid black;
    height: 26px;
    width: 27px;
    text-align: center;

}
.orderSectionDiv{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/manu.jpg); 
}
#heading{
    text-align: center;
    margin-top: 10px;
}
/* Menu page css */
.menuDiv{
    background-attachment: scroll;
    margin-bottom: 5vh;
}
.card-img2{
    width: 36vh;
}
.card{
    flex-direction: row; 
}
/* Add Product  pagecss */
.AddProductdivfooter{
    margin-top:80px;
}
/* footer css */
.footerDiv{
    display: flex;
    height: 20vh;
    margin-top: 4px;
    background-color:white;
    justify-content: center;
    align-items: center;
}
.div1,.div2,.div3{
    width: 50vh;
    height: 21vh;
    list-style: none;
    text-align: center;
    color: black;
}
 li a{
    font-weight: 400;
    color: black;
    cursor: pointer;
    text-decoration: none;
 }
 .imgFooter{
    height: 20px;
 }
 .icon1.icon2.icon3{
    border: 2px solid black;
    border-radius: 10px;
 }
 /* Contact  page css */
 .contactpageDiv,.aboutpageDiv{
    height: 50vh;
    width: 200vh;
    display:inline-flex;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    font-weight:700;
    color: #fff;
    font-size: 6vh;
    font-style: bold;
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/reservation.jpg);
 }
 .res-form-imgDiv{
    display: flex;
    justify-content:center ;
    align-items: center; 
 }
.res-imgDiv{
    width: 99vh;
    height: 59vh;   
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/booktable.jpg);  
}
.res-formDiv{
    height: 59vh;
    width: 99vh;

}
/* about page css */
.aboutpageDiv{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../images/reservation.jpg);
}
.teamDiv{
    display:flex;
    height: 50vh;
    width:200vh;
    align-items: center;
    gap: 20px;
    background: linear-gradient(to top, rgba(193, 214, 220, 0.6), rgba(214, 197, 214, 0.804));
    margin-left: 10px;
}
.teamSubDiv{
    display: inline-flex;
    justify-content:center;
    transition: transform 0.4s ease-in-out;
    align-items: center  ;
    box-sizing: border-box;
    flex-direction: column;
    border-radius: 10px;
    height: 40vh;
    width:100vh; 
    box-shadow: 5px 6px 5px 5px #888888;
}
#d:hover{
    transform: translateY(-20px);
}
.image-chef{
    height: 10vh;
    width: 10vh;
    border-radius: 60px;
    box-sizing: border-box;
    cursor: pointer; 
    box-shadow: 3px 4px 2px 0px #888888;
}
.aboutcantainer{
    margin: 30px 20px 0px 20px;
    height: 60vh;
    display: inline-flex;
    width: 200vh;
    column-gap: 30px;
    /* border: 2x solid black; */
}
.aboutcantainer1,.aboutcantainer2{
    height: 60vh;
    width: 100vh; 
    /* border: 2px solid black; */
}
.aboutcantainer2{
 background: linear-gradient(to top, rgba(193, 214, 220, 0.6), rgba(214, 197, 214, 0.804));
background-attachment:scroll;
overflow: scroll;
}
.aboutcantainer1{
    position: relative;
    background-repeat: no-repeat;
}
#more{
    display: none;
}
.number,.imgText{
    position:absolute;
    color: #fff;
    padding: 5px;
}
.imageAbout{
    height: 60vh;
    width:100vh;
    vertical-align: middle;
}
 .slide{
    display: none;

   }
   @keyframes fade {
    from {opacity:4} 
    to {opacity: 1}
  }
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
  .fade {
    animation: fade;
    animation-duration: 3s;
  }  

.imgText{
    color: white;
    word-spacing: 3px;
    font-size: medium;
    margin: 485px 0px 0px 421px;
}
.footerAbout{
    display: inline-flex;
    width: 200vh;
    justify-content: center;
    align-items: center;
}
.aboutHeader{
    width: 100vw;
}
.dot{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 5px;
    background-color: #888888;
    transition: background-color 0.6s ease;
}
.activee{
    background-color:red;
}



